<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
</head>
<body>
    <div class="container">
        <h3>Welcome {{fullName}}!,</h3>
        <p>We're sending this maill because you just create an Account with us at <b>Idea Thinkers</b> with {{email}}. <br>
           we are so happy to have you in our missed</p>
    
        <a class="btn btn-secondary" href="#">LOGIN</a>
    
        <p>Click the above button to Sign-in to the system</p>

    
        <h5>Thanks for using our site! <br>
        the Ideal Thinkers team
        </h5>
    </div>
    
</body>
</html>